@charset "utf-8";
/********************************      Basic Structure      ********************************/

html {
	font-size: 100%;
	height: 100%;
	margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
	background: #f0f0f0 url('../imagens/bg-body.gif') top left repeat-y;
	font-size: 12px;
}

#body-wrapper {
	background: url('../imagens/bg-radial-gradient.gif') fixed 230px top no-repeat;
}

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
	font-weight: bold;
}

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff;
	position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
}

h2            { font-size: 26px; padding: 0 0 10px 0; }
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #5094AD; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }
em           { font-style: italic; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

p {
	padding: 5px 0 10px 0;
	line-height: 1.6em;
}

/********************************      General Classes      ********************************/

.clear {
	clear: both;
}
.clear-left {
    clear: left;
}
.clear-right {
    clear: right;
}

.align-left {
	float: left;
}

.align-right {
	float: right;
}

/************ Button ************/
.button {
	font-family: Verdana, Arial, sans-serif;
	display: inline-block;
	background: #006C93 url('../imagens/bg-button.jpg') top left repeat-x !important;
	border: 1px solid #39778e !important;
	padding: 4px 7px 4px 7px !important;
	color: #fff !important;
	font-size: 11px !important;
	cursor: pointer;
}

.content-box-header .button {
	float: right;
}


.button:hover {
	text-decoration: underline;
}

.button:active {
	padding: 5px 7px 3px 7px !important;
}

a.remove-link {
	color: #bb0000;
}

a.remove-link:hover {
	color: #000;
}

/********************************      Sidebar      ********************************/

#sidebar {
	background: url('../imagens/bg-sidebar.gif') top left no-repeat;
	width: 230px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	color: #888;
	font-size: 11px;
}

#sidebar #sidebar-wrapper {
	margin: 0 0 0 9px;
}

#sidebar a,
#sidebar a:active {
	color:#ccc;
}

#sidebar a:hover {
	color:#fff;
}

#sidebar #sidebar-title {
	margin: 40px 0 40px 15px;
}

#sidebar #logo {
	margin: 40px 0 40px 0;
}

#sidebar #profile-links {
	padding: 0 15px 20px 15px;
	text-align: right;
	line-height: 1.5em;
}

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
	width: 206px;
	padding: 0;
	margin: 0 0 0 15px;
	font-family: Helvetica, Arial, sans-serif;
}

#sidebar #main-nav li {
	list-style: none;
	padding-bottom: 10px;
	text-align: right;
}

#sidebar #main-nav li a.nav-top-item {
	background: transparent url('../imagens/bg-menu-item.gif') right center no-repeat; /* Background image for default color scheme - green */
	padding: 10px 15px;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

#sidebar #main-nav li a.current {
	background-image: url('../imagens/bg-menu-item-current.gif') !important;
	color: #333;
	font-weight: bold;
}

#sidebar #main-nav li a.current:hover {
	color: #333;
}

#sidebar #main-nav ul {
	padding: 0;
	font-size: 12px;
	margin: 0;
}

#sidebar #main-nav ul li {
	list-style: none;
	margin: 0;
	text-align: right;
	padding: 0;
}
#sidebar #main-nav ul .divider {border-bottom: 1px dotted #5094AD}

#sidebar #main-nav ul li a {
	padding: 8px 15px;
	display: block;
	color: #aaa;
	font-size: 13px;
	line-height: 1.2em;
}

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
	color: #fff;
}

#sidebar #main-nav ul li a.current {
	background: transparent url('../imagens/menu-current-arrow.gif') right center no-repeat !important;
}


/************ Messages ************/

#messages p,
#messages form {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

#messages h4 {
	padding: 10px 0;
}

#messages fieldset {
	margin: 0;
}

#messages textarea {
	margin: 0 0 15px 0;
}
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
	margin: 0 30px 0 260px;
	padding: 40px 0 0 0;
}

.column-left {
	width: 48%;
	float: left;
}

.column-right {
	width: 48%;
	float: right;
}

#page-intro {
	font-size: 17px;
	padding: 0 0 20px 0;
}


#footer {
	border-top: 1px solid #ccc;
	margin: 40px 0 0 0;
	padding: 20px 0;
	font-size: 12px;
}
/************ Lists ************/

#main-content ul,
#main-content ol {
	padding: 10px 0;
}

/* Unordered List */

#main-content ul li {
	background: url('../imagens/icones/bullet_black.png') center left no-repeat;
	padding: 4px 0 4px 20px;
}

/* Ordered List */

#main-content ol {
	padding: 0 0 0 24px;
}

#main-content ol li {
	list-style: decimal;
	padding: 4px 0;
}

/*************** Content Box ***************/

.content-box {
	border: 1px solid #ccc;
	margin: 0 0 20px 0;
	background: #fff;
}

.content-box-header {
	background: #e5e5e5 url('../imagens/bg-content-box.gif') top left repeat-x;
	margin-top: 1px;
	height: 40px;
}

.content-box-header h3 {
	padding: 12px 15px 10px;
	float: left;
}

ul.content-box-tabs {
	float: right;
	padding: 12px 15px 0 0 !important;
	margin: 0 !important;
}

ul.content-box-tabs li {
	float: left;
	margin: 0;
	padding: 0 !important;
	background-image: none !important;
}

ul.content-box-tabs li a {
	color: #333;
	padding: 8px 10px;
	display: block;
	margin: 1px;
	border-bottom: 0;
}

ul.content-box-tabs li a:hover {
	color: #5094AD;
}

ul.content-box-tabs li a.current {
	background: #fff;
	border: 1px solid #ccc;
	border-bottom: 0;
	margin: 0;
}

.content-box-content {
	padding: 20px;
	font-size: 13px;
	border-top: 1px solid #ccc;
}

/************ Table ************/

#main-content table {
	width: 100%;
	border-collapse: collapse;
}

#main-content table thead th {
	font-weight: bold;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}

#main-content table thead th.current {background-color: #e6ecf2}

#main-content table thead a.down {background:url(../imagens/icones/bullet_arrow_down.png) no-repeat 0 50%; padding-left:12px}

#main-content table thead a.up {background:url(../imagens/icones/bullet_arrow_up.png) no-repeat 0 50%; padding-left:12px}

#main-content tbody {
	border-bottom: 1px solid #ddd;
}

#main-content tbody tr {
	/*background: #fff;*/
}

#main-content tbody tr.alt-row {
	background: #f3f3f3;
}

#main-content table td,
#main-content table th {
	padding: 10px;
	line-height: 1.3em;
}

#main-content table td.current {background-color: #f6f8fb}
#main-content table tr.alt-row td.current {background-color:#edf1f5}

#main-content table tfoot td .bulk-actions {
	padding: 15px 0 5px 0;
}

#main-content table tfoot td .bulk-actions select {
	padding: 4px;
	border: 1px solid #ccc;
}

/*************** Pagination ***************/

#main-content .pagination {
	text-align: right;
	padding: 20px 0 5px 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.pagination a {
	margin: 0 5px 0 0;
	padding: 3px 6px;
}

.pagination a.number {
	border: 1px solid #ddd;
}

.pagination a.current {
	background: #006C93 url('../imagens/bg-button.jpg') top left repeat-x !important;
	border-color: #387287 !important;
	color: #fff !important;
}

.pagination a.current:hover {
	text-decoration: underline;
}

.pagination-showing {font-size: 12px}

/************ Shortcut Buttons ************/

.shortcut-button {
	border: 1px solid #ccc;
	background: #f7f7f7 url('../imagens/shortcut-button-bg.gif') top left no-repeat;
	display: block;
	width: 120px;
	margin: 0 0 20px 0;
}

.shortcut-button span {
	border: 1px solid #fff;
	display:block;
	padding: 15px 10px 15px 10px;
	text-align: center;
	color: #555;
	font-size: 13px;
	line-height: 1.3em;
}

.shortcut-button span img {
	margin-bottom: 10px;
}

.shortcut-button:hover {
	background: #fff;

}

.shortcut-button span:hover {
	color: #5094AD;
}

ul.shortcut-buttons-set li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0 !important;
	background: 0;
}

/*************** Forms ***************/

form label {
	display: block;
	padding: 0 0 10px;
	font-weight: bold;
}

form fieldset legend {
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 10px;
}

form p small {
	font-size: 0.75em;
	color: #777;
}


form input.text-input,
form select,
form textarea,
form .wysiwyg {
	padding: 6px;
	font-size: 13px;
	background: #fff url('../imagens/bg-form-field.gif') top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
}

form .small-input {
	width: 25% !important;
}

form .medium-input {
	width: 50% !important;
}

form .large-input {
	width: 97.5% !important;
}
form .huge-input {
	width: 97.5% !important;
	font-size: 16px !important;
	padding: 8px !important;
}

form textarea {
	width: 97.5% !important;
	font-family: Arial, Helvetica, sans-serif;
}

form select {
	padding: 4px;
	background: #fff;
}

form input[type="checkbox"],
form input[type="radio"] {
	padding: 0;
	background: none;
	border: 0;
}
form .required, form .required-input .wysiwyg, form .required-input .mceLayout {
	border-right: 3px solid #c00 !important;
}
form input.input-notification-error, form textarea.input-notification-error,
form select.input-notification-error, form table.input-notification-error {border-color:#c00!important}

/*************** Notifications ***************/

.notification {
	position: relative;
	margin: 0 0 15px 0;
	padding: 0;
	border: 1px solid;
	background-position: 10px 11px !important;
	background-repeat: no-repeat !important;
	font-size: 13px;
	width: 99.8%;
}


.attention {
	background: #fffbcc url('../imagens/icones/exclamation.png') 10px 11px no-repeat;
	border-color: #e6db55;
	color: #666452;
}

.information {
	background: #dbe3ff url('../imagens/icones/information.png');
	border-color: #a2b4ee;
	color: #585b66;
}

.success {
	background: #d5ffce url('../imagens/icones/tick_circle.png');
	border-color: #9adf8f;
	color: #556652;
}

.error {
	background: #ffcece url('../imagens/icones/cross_circle.png');
	border-color: #df8f8f;
	color: #665252;
}

.notification div {
	display:block;
	font-style:normal;
	padding: 10px 10px 10px 36px;
	line-height: 1.5em;
}

.notification .close {
	color:#990000;
	font-size:9px;
	position:absolute;
	right:5px;
	top:5px;
}

/* Notification for form inputs */

span.input-notification, span.input-notification-error {
	background-position: left 2px;
	background-repeat: no-repeat;
	padding: 2px 0 2px 22px;
	background-color: transparent;
	margin: 0 0 0 5px;
}
span.input-notification-error {
	background-image: url('../imagens/icones/cross_circle.png');
	color: #665252;
}
/* Notification for login page */

#login-wrapper #login-content .notification {
	border: 0;
	background-color: #141414;
	color: #fff !important;
}

/********************************      Login Page      ********************************/

body#login {
	color: #fff;
	background: #222 url('../imagens/bg-login.gif');
}

#login-wrapper {
	background: url('../imagens/bg-login-top.png') top left repeat-x;
}

#login-wrapper #login-top {
	width: 100%;
	padding: 140px 0 50px 0;
	text-align: center;
}

#login-wrapper #login-content {
	text-align: left;
	width: 300px;
	margin: 0 auto;
}

#login-wrapper #login-content label {
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	font-family: Helvetica, Arial, sans-serif;
	float: left;
	width: 70px;
	padding: 0;
}

#login-wrapper #login-content input {
	width: 200px;
	float: right;
	margin: 0 0 20px 0;
	border: 0;
	background: #fff;
}

#login-wrapper #login-content p {
	padding: 0;
}

#login-wrapper #login-content p#remember-password {
	float: right;
}

#login-wrapper #login-content p#remember-password input {
	float: none;
	width: auto;
	border: 0;
	background: none;
	margin: 0 10px 0 0;
}

#login-wrapper #login-content p .button {
	width: auto;
	margin-top: 20px;
}

/********************************      jQuery plugins styles      ********************************/

/*************** Facebox ***************/

#facebox .b {
	background:url(../imagens/b.png);
}

#facebox .tl {
	background:url(../imagens/tl.png);
}

#facebox .tr {
	background:url(../imagens/tr.png);
}

#facebox .bl {
	background:url(../imagens/bl.png);
}

#facebox .br {
	background:url(../imagens/br.png);
}

#facebox {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	text-align: left;
}

#facebox .popup {
	position: relative;
}

#facebox table {
	border-collapse: collapse;
}

#facebox td {
	border-bottom: 0;
	padding: 0;
}

#facebox .body {
	padding: 10px;
	background: #fff;
	width: 370px;
}

#facebox .loading {
	text-align: center;
}

#facebox .image {
	text-align: center;
}

#facebox img {
	border: 0;
	margin: 0;
}

#facebox .footer {
	border-top: 1px solid #DDDDDD;
	padding-top: 5px;
	margin-top: 10px;
	text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
	height: 10px;
	width: 10px;
	overflow: hidden;
	padding: 0;
}

#facebox_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.facebox_hide {
	z-index:-100;
}

.facebox_overlayBG {
	background-color: #000;
	z-index: 99;
}

/***** GALERIA DE FOTOS *****/
#galeria {

}

ul#galeria li {
	display: inline-block;
	list-style: none;
	background: none !important;
	padding: 10px 15px;
}
*+html ul#galeria li {display:inline} /*IE7*/

#galeria a {
	float: left;
	margin-bottom: 10px;
	cursor: pointer;
}

#galeria input {
	float: left;
	clear: both;
	width: 95% !important;
}

*:first-child+html #galeria input {
	width: 215px !important;
}

#galeria label {
	clear: both;
}

#galeria p {
	float: left;
	clear: both;
}

#galeria p a {
	float: none;
	clear: both;
}

#galeria p span {
	float: none;
	clear: both;
}


/* EXTRAS */
.sim {color:#090}
.nao {color:#b00}
input[readonly] {color:#999!important}

.esconder {display: none}
.mostrar {display: block}

.buscar-resultado a {margin-left:20px}

.valor-atual {padding: 2px 7px; background-color: #d5ffce; color: #556652}

.separador {border-top: 1px solid #ccc}

/* HOME */
.home #footer {margin-top: 350px}


/* CADASTROS DE NOVOS ITENS RELACIONADOS AO PRODUTO */
.botao-cadastrar{
	background: #0F7500 url('../imagens/bg-button-big-green.jpg') top left repeat-x !important;
	border-color: #0F7500!important;
	font-size: 14px!important;
	float: right;
	margin: 5px 6px 0 0
}

/* CAMPOS INTALTERÁVEIS */
.nao-editaveis{
	color: #B5B5B5 !important;
}


/* Separador visual */
.separador{
	border-top: 1px dotted #d3d3d3;
}

/* Modificações no datepicker */
.ui-datepicker-month, .ui-datepicker-year {font-size: 11px!important; border: 1px solid #AED0EA; background-color: #D7EBF9}
.ui-datepicker-trigger {margin: 0 6px; vertical-align: text-top;}

/* Interações */
.interacoes-lista .content-box-content table td {font-size: 10px}
.interacoes-cabecalho td {font-size: 11px; vertical-align: middle;}

#cliente_compra_form textarea {resize: none;}