<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body {
	background-color: #FFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>

<body>
<table width="700" border="0" align="center" cellpadding="00" cellspacing="0">
  <tr>
    <td colspan="2" align="center"><img src="dietwin-software-de-nutricao.gif" width="160" height="72" alt="Dietwin - Software de nutrição"></td>
    <td width="294" align="center" valign="bottom"><font color="#79776B" size="4" face="arial">O futuro da nutrição. Hoje.</font></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><img src="barra.jpg" width="700" height="35"></td>
  </tr>
  <tr>
    <td colspan="3" align="center"><font color="#79776B" size="4" face="arial">Lorem ipsum dolor sit amet.</font></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td width="325"><font color="#79776B" size="2" face="arial" style="line-height:140%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat felis eget nulla viverra aliquet. Ut rutrum lorem ante. Morbi pellentesque ipsum at egestas finibus. Quisque porta quam eu porta vehicula. Nunc fringilla feugiat posuere. Ut ut mi eget nibh pellentesque placerat venenatis sed tortor. Nunc id mi non mi ultrices </font></td>
    <td width="50">&nbsp;</td>
    <td width="325"><font color="#79776B" size="2" face="arial" style="line-height:140%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat felis eget nulla viverra aliquet. Ut rutrum lorem ante. Morbi pellentesque ipsum at egestas finibus. Quisque porta quam eu porta vehicula. Nunc fringilla feugiat posuere. Ut ut mi eget nibh pellentesque placerat venenatis sed tortor. Nunc id mi non mi ultrices </font></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><font color="#79776B" size="2" face="arial" style="line-height:140%"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat felis eget nulla viverra aliquet. Ut rutrum lorem ante. Morbi pellentesque ipsum at egestas finibus. Quisque porta quam eu porta vehicula. Nunc fringilla feugiat posuere. Ut ut mi eget nibh pellentesque placerat venenatis sed tortor. Nunc id mi non mi ultrices cursus ac vel risus. Maecenas eget diam non elit malesuada rutrum at non neque. Donec facilisis sit amet leo a ullamcorper. Vivamus ut dolor libero.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat felis eget nulla viverra aliquet. Ut rutrum lorem ante. Morbi pellentesque ipsum at egestas finibus. Quisque porta quam eu porta vehicula. Nunc fringilla feugiat posuere. Ut ut mi eget nibh pellentesque placerat venenatis sed tortor. Nunc id mi non mi ultrices cursus ac vel risus. Maecenas eget diam non elit malesuada rutrum at non neque. Donec facilisis sit amet leo a ullamcorper. Vivamus ut dolor libero.
    </p></font>
    <font color="#79776B" size="2" face="arial" style="line-height:140%"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat felis eget nulla viverra aliquet. Ut rutrum lorem ante. Morbi pellentesque ipsum at egestas finibus. Quisque porta quam eu porta vehicula. Nunc fringilla feugiat posuere. Ut ut mi eget nibh pellentesque placerat venenatis sed tortor. Nunc id mi non mi ultrices cursus ac vel risus. Maecenas eget diam non elit malesuada rutrum at non neque. Donec facilisis sit amet leo a ullamcorper. Vivamus ut dolor libero.</p></font></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="center"><img src="visite.gif" width="200" height="61" alt="Visite nosso site"></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr bgcolor="#EDEEE3">
    <td colspan="2" align="center"  bgcolor="#EDEEE3"><img src="caixas-dietwin.jpg" width="380" height="229"></td>
    <td width="294"  bgcolor="#EDEEE3"><font color="#79776B" size="4" face="arial" style="line-height:140%">Tudo o que você procura <br>
    em um <font color="#81A778">software de nutrição.</font></font></td>
  </tr>
 
  <tr bgcolor="#3E4E66">
    <td height="150" colspan="3" align="center" bgcolor="#3E4E66"><table width="650" border="0" align="center">
      <tr>
        <td colspan="2"><font color="#EBECE3" size="4" face="arial" style="line-height:150%">Suporte especializado</font><br>
<font color="#EBECE3" size="2" face="arial">Teve problemas na utilização de qualquer software da família Dietwin? Então utilize um dos canais abaixo e faça contato conosco!</font></td>
      </tr>
      <tr>
        <td width="325"><font color="#EBECE3" size="2" face="arial" style="line-height:150%">(51)</font> <font color="#EBECE3" size="6" face="arial" style="line-height:150%">3337.7908</font></td>
        <td width="325"><a href="mailto:suporte@dietwin.com.br"><font color="#EBECE3" size="3" face="arial" style="line-height:150%">suporte@dietwin.com.br</font></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="center"><img src="dietwin-software-de-nutricao.gif" width="160" height="72"></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
</table>
</body>
</html>
