body {
    font-family: 'Lato', sans-serif;
}

table th {
    color: #ffffff;
    font-size: 28px;
    font-weight: normal;
}

table td {
    padding: 15px 20px !important;
}

table th.features {
    background: #979489;
}

table th.diet-win {
    background: #4A9A8D;
}

table th.diet-win-plus {
    background: #F6973B;
}

table tr.cinza-claro {
    background: #F2F3ED;
}

table td.explicacao-feature img {
    float: left;
    margin: 0 20px 0 0;
}

table td .conteudo-feature {
    float: left;
    width: 80%;
}

table td .conteudo-feature span.titulo-feature {
    color: #79776b;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: normal;
    line-height: 120%;
    margin: 10px 0;
}

table td .conteudo-feature .detalhe-feature {
    display: none;
    font-size: 15px;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 15px;
}

table .preco {
    margin: 0 0 10px;
}

table .preco span.moeda,
table .preco span.centavos {
    font-size: 20px;
}

table .preco span.reais {
    font-size: 40px;
}

table .parcelamento {
    color: #79776b;
    font-size: 12px;
    line-height: 120%;
}

.fixed {
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
}

#tabs {
    margin: 0;
}

#controla-tabs.flexslider {
    margin: 30px 0 20px;
}

.flexslider {
    background: none repeat scroll 0 0 #edeee3;
    border: 4px solid #edeee3;
    box-shadow: none;
}

.flex-viewport {
    z-index: 1000;
}

.flex-direction-nav {
    display: none;
}

.flex-control-nav {
    margin: -525px auto 0;
    position: relative;
    width: 75%;
    z-index: 1001;
}

.flex-control-thumbs li {
    width: 16.6667%;
}

.flex-control-thumbs img {
    margin: 0 auto;
    width: auto;
}

.flex-control-thumbs img:hover {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.flexslider .slides li div {
    margin: 0 auto;
    cursor: pointer;
}

span.label-icone {
    color: #79776b;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0;
    text-transform: uppercase;
}

div.dieta {
    background: url("../imagens/dieta.png") no-repeat scroll center center transparent;
    height: 100px;
    width: 100px;
}

div.dieta:hover, div.dieta:active, li.flex-active-slide div.dieta {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: url("../imagens/dieta-hover.png") no-repeat transparent center center;
}

div.avaliacao {
    background: url("../imagens/avaliacao.png") no-repeat scroll center center transparent; 
    height: 100px;
    width: 100px;
}

div.avaliacao:hover, div.avaliacao:active, li.flex-active-slide div.avaliacao {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: url("../imagens/avaliacao-hover.png") no-repeat scroll center center transparent; 
}

div.prescricao {
    background: url("../imagens/prescricao.png") no-repeat scroll center center transparent; 
    height: 100px;
    width: 100px;   
}

div.prescricao:hover, div.prescricao:active, li.flex-active-slide div.prescricao {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: url("../imagens/prescricao-hover.png") no-repeat scroll center center transparent; 
}

div.analise {
    background: url("../imagens/analise.png") no-repeat scroll center center transparent; 
    height: 100px;
    width: 100px;   
}

div.analise:hover, div.analise:active, li.flex-active-slide div.analise {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: url("../imagens/analise-hover.png") no-repeat scroll center center transparent; 
}

div.prontuario {
    background: url("../imagens/prontuario.png") no-repeat scroll center center transparent; 
    height: 100px;
    width: 100px;   
}

div.prontuario:hover, div.prontuario:active, li.flex-active-slide div.prontuario {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: url("../imagens/prontuario-hover.png") no-repeat scroll center center transparent; 
}

div.exercicios {
    background: url("../imagens/exercicios.png") no-repeat scroll center center transparent;
    height: 100px;
    opacity: 0.8;
    width: 100px;
}

div.exercicios:hover, div.exercicios:active, li.flex-active-slide div.exercicios {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    background: url("../imagens/exercicios-hover.png") no-repeat scroll center center transparent; 
}

.mapa-dietwin {
    margin: 170px 0 0;
}

section.conteudo {
    padding: 60px 0;
}

section.cinza {
    background: none repeat scroll 0 0 #EDEEE3;
}

section.marrom {
    background: none repeat scroll 0 0 #d6d6cb;
}

section.verde {
    background: none repeat scroll 0 0 #6b9461;
}

header {
    -webkit-overflow-scrolling: touch;
    background: url("../imagens/header-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFFFFF;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

header .logos {
    margin: 50px 0 0;
}

header .logos img.windows-logo {
    margin: 30px 0 0;
}

header h1 {
    color: #595346;
    font-size: 65px;
    font-weight: 300;
    line-height: 120%;
    margin: 50px 0 90px;
}

header .botoes-chamada {
    background: url("../imagens/chamada-teste-bg.png") repeat scroll center center transparent;
    padding: 50px 60px;
}

.botoes-chamada a, .comprar a, table a.botao-comprar, table a.botao-testar {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 18px;
    margin: 0 auto;
    text-decoration: none;
    padding: 11px 30px;
    position: relative;
    width: 100%;
}

table a.botao-comprar, table a.botao-testar {
    font-size: 15px;
    padding: 2px 5px;
}

.botoes-chamada a img, .comprar a {
    margin: 0 30px 0 0;
}

a.botao-comprar {
    background: #FF9122;
    -webkit-box-shadow: 0px 3px 0px #CA6500;
    -moz-box-shadow: 0px 3px 0px #CA6500;
    box-shadow: 0px 3px 0px #CA6500;
}

a.botao-testar {
    background: #81A778;
    -webkit-box-shadow: 0px 3px 0px #54774D;
    -moz-box-shadow: 0px 3px 0px #54774D;
    box-shadow: 0px 3px 0px #54774D;
}

.botoes-chamada a:active, .comprar a.botao-comprar:active {
    position: relative;
    top: 2px;
}

a.botao-comprar:hover {
    background: #FF9A35;
}

a.botao-testar:hover {
    background: #8DAF85;
}

a.botao-comprar:active {
    -webkit-box-shadow: 0px 1px 0px #FF9122;
    -moz-box-shadow: 0px 1px 0px #FF9122;
    box-shadow: 0px 1px 0px #FF9122;
}

a.botao-testar:active {
    -webkit-box-shadow: 0px 1px 0px #81A778;
    -moz-box-shadow: 0px 1px 0px #81A778;
    box-shadow: 0px 1px 0px #81A778;
}

a.conhecer-software {
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    background: none repeat scroll 0 0 #6f7784;
    border-radius: 5px 5px 0 0;
    bottom: 0;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    left: 50%;
    line-height: 120%;
    margin: 0 0 0 -115px;
    padding: 10px 15px;
    position: absolute;
    width: 230px;
    z-index: 100;
}

a.conhecer-software:hover {
    background: #81A778;
    text-decoration: none;
}

a.conhecer-software img {
    float: left;
    margin: 10px 30px 0 10px;
}

a.conhecer-software span {
    font-size: 30px;
}

#wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 200;
}

section.nav {
    background: none repeat scroll 0 0 #7b776b;
    padding: 10px 0;
    height: 90px;
    width: 100%;
}

.nav-altura {
    height: 90px;
}

section.nav nav {
    float: right;
}

section.nav nav ul {
    margin: 20px 0 0;
    padding: 0;
}

section.nav nav li {
    float: left;
    list-style: none outside none;
    margin: 0 10px;
}

section.nav nav a {
    color: #ffffff;
}

section.nav nav a:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #FF9A35;
    text-decoration: none;
}

.outros-botoes img {
    margin: 15px 0 0 5px;
    opacity: 0.8;
}

.outros-botoes img:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
}

.comprar-agora {
    border-radius: 5px;
    color: #ffffff;
    display: block;
    float: right;
    font-size: 12px;
    margin: 12px 0 0 10px;
    padding: 10px 11px;
    width: 135px;
}

.comprar-agora:hover {
    text-decoration: none;
    color: #FFFFFF;
}

.comprar-agora img {
    margin: -3px 10px 0 0;
}

.telefone {
    background: none repeat scroll 0 0 #a3a098;
    color: #57554d;
    display: none;
    float: left;
    font-size: 26px;
    height: 50px;
    line-height: 175%;
    margin: 8px 0 0;
    text-align: center;
    width: 180px;
}

.telefone span {
    font-size: 18px;
}

section.cinza h2,
section.cinza h1.interna {
    color: #79776b;
    font-size: 60px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 20px;
}

span.verde {
    color: #7fa578;
    display: inline !important;
    font-weight: normal;
}

span.azul {
    color: #1e2c45;
    display: inline !important;
    font-weight: bold;
}

section.cinza .sobre-dietwin-plus h2 {
    font-size: 30px;
    margin: 15px 0 20px;
}

section.cinza .sobre-dietwin-plus p {
    font-size: 14px;
}

section.cinza .sobre-dietwin-plus p.aviso {
    background: none repeat scroll 0 0 #329585;
    color: #fff;
    font-size: 12px;
    line-height: 120%;
    padding: 10px;
}

section.cinza h2.margin-maior {
    margin: 0 0 60px;
}

section.cinza h2 span {
    display: block;
    font-size: 35px;
    line-height: 120%;
}

section.cinza h3 {
    color: #79776b;
    font-size: 20px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 25px;
}

section.conteudo p {
    color: #79776b;
    font-size: 17px;
    font-weight: 300;
    line-height: 150%;
    margin: 0 0 15px;
}

section.verde p {
    color: #ebece3;
}

section.cinza.tab h2 {
    font-size: 40px;
}

section.cinza.tab h2 span {
    color: #7FA578;
    font-size: 40px;
}

.documentacao-tecnica {
    background: none repeat scroll 0 0 #ccccbf;
    padding: 15px 20px 5px;
}

.documentacao-tecnica h2 {
    color: #C3392C;
    font-size: 64px;
    font-weight: 300;
    line-height: 100%;
    margin: 0 0 15px;
}

.documentacao-tecnica span {
    display: block;
    font-size: 30px;
    line-height: 100%;
}

section.conteudo .documentacao-tecnica p {
    font-size: 13px;
}

.documentacao-arquivo {
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
}

.documentacao-arquivo:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #DDDDD5;
}

.documentacao-arquivo span {
    color: #bf382b;
    display: block;
    font-size: 12px;
    line-height: 120%;
    margin: 10px 0 0;
}

.documentacao-arquivo a {
    color: #79776b;
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
    margin: 5px 0 0;
}

.preco {
    color: #46526c;
}

.preco span.titulo {
    display: block;
    margin: 0 0 10px;
}

.preco span.moeda {
    font-size: 22px;
    font-weight: bold;
    line-height: 100%;
    vertical-align: top;
}

.preco span.reais {
    font-size: 60px;
    font-weight: bold;
    line-height: 75%;
}

.preco span.centavos {
    font-size: 22px;
    font-weight: bold;
    vertical-align: baseline;
}

img.cartoes {
    margin: 60px 0 0;
}

section.verde h2 {
    color: #ebece3;
    font-size: 50px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 20px;
}

section.verde h2 span {
    color: #ffc926;
}

form#duvidas label {
    color: #ecede3;
    display: block;
    font-size: 17px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 5px;
}

form#duvidas input[type="text"] {
    border: 1px solid #fff;
    color: #70734f;
    font-size: 20px;
    font-weight: 300;
    height: 38px;
    line-height: 120%;
    margin: 0 0 15px;
    padding: 0 12px;
    width: 100%;
}

form#duvidas input[type="submit"] {
    background: #81A778;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    height: 50px;
    margin: 10px 0 0;
    width: 100%;
    -webkit-box-shadow: 0px 3px 0px #54774D;
    -moz-box-shadow: 0px 3px 0px #54774D;
    box-shadow: 0px 3px 0px #54774D;
}

form#duvidas input[type="submit"]:hover {
    background: #93B38A;
}

form#duvidas input[type="submit"]:active {
    position: relative;
    top: 2px;
    -webkit-box-shadow: 0px 1px 0px #54774D;
    -moz-box-shadow: 0px 1px 0px #54774D;
    box-shadow: 0px 1px 0px #54774D;
}

input.error {
    background: none repeat scroll 0 0 #ffc4c4 !important;
    border: 1px solid #ff4000 !important;
}

label.error {
    display: none !important;
}

.erro-form {
    background: none repeat scroll 0 0 #8a2727;
    color: #fff;
    display: none;
    font-size: 12px;
    line-height: 150%;
    padding: 10px 10px 15px;
}

section.usuarios {
    background: url("../imagens/usuarios-bg.jpg") repeat scroll top center #ffffff;
    padding: 40px 0;
}

section.usuarios h2 {
    color: #fff;
    font-size: 70px;
    font-weight: 300;
    line-height: 120%;
    margin: 0 0 20px;
    text-align: right;
}

section.usuarios p {
    color: #ebece3;
}

a.leia-mais {
    background: url("../imagens/chamada-teste-bg.png") repeat scroll center center transparent;
    border: 1px solid #81a778;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: 300;
    height: 42px;
    line-height: 180%;
    margin: 20px 0 0;
    text-align: center;
    width: 100%;
}

section.quem-faz {
    background: none repeat scroll 0 0 #3f503a;
    display: none;
}

section.quem-faz p {
    color: #ebece3;
}

section.quem-faz h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    margin: 10px 0 0;
}

section.conteudo.especialista-mapa {
    padding: 60px 0 0;
}

section.cinza.especialista-mapa h2 {
    color: #3f4c66;
    font-size: 32px;
    line-height: 120%;
    margin: 0 0 40px;
    text-align: center;
}

section.cinza.especialista-mapa h2 span {
    color: #f8a34b;
    display: inline;
    font-weight: 400;
}

section.conteudo.especialista-mapa p {
    text-align: center;
}

section.especialista-mapa .telefone {
    color: #79776b;
    font-size: 60px;
    font-weight: 300;
    line-height: 100%;
    margin: 40px 0 37px;
}

section.especialista-mapa .telefone span {
    font-size: 25px;
    vertical-align: text-top;
}

footer {
    background: #EBECE3;
}

footer .conteudo {
    background: url("../imagens/footer-bg.jpg") no-repeat scroll center center #fff;
    height: 170px;
    padding: 15px 0;
    width: 100%;
}

footer h2 {
    color: #edeee3;
    font-size: 32px;
    font-weight: 300;
    margin: 0 0 10px;
}

footer p {
    color: #ffffff;
}

footer .laranja .outros {
    background: none repeat scroll 0 0 #be7a36;
    color: #fff;
    margin: -30px 0 0;
    padding: 10px;
}

footer .telefone-footer {
    color: #edeee3;
    float: left;
    font-size: 30px;
    font-weight: 300;
    line-height: 100%;
    margin: 5px 20px 0 0;
}

footer .telefone-footer > span {
    font-size: 20px;
    vertical-align: text-top;
}

footer a.link-suporte {
    color: #ecede3;
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin: 12px 0 0;
}

footer a.link-suporte {
    text-decoration: underline;
}

section.logo {
    padding: 15px 0;
}

section.formulario .titulo-formulario {
    background: none repeat scroll 0 0 #81a778;
    overflow: hidden;
    padding: 25px 15px;
}

section.formulario .titulo-formulario h2 {
    color: #ffffff;
    font-size: 34px;
    font-weight: 300;
    line-height: 120%;
    margin: 0;
}

section.formulario .formulario-cadastro,
section.formulario .endereco-entrega {
    background: none repeat scroll 0 0 #f4f5ef;
    overflow: hidden;
    padding: 25px 15px;
}

section.formulario .endereco-entrega {
    background: #FFFFFF;
}


section.formulario form#cadastro label,
section.formulario form#login label {
    color: #79776b;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 10px;
}

section.formulario form#login label {
    display: block;
    margin: 0 0 5px;
}

section.formulario form#cadastro input[type="text"],
section.formulario form#cadastro input[type="password"],
section.formulario form#cadastro select, 
section.formulario form#login input[type="text"],
section.formulario form#login input[type="password"], {
    border: 1px solid #e3e6d5;
    font-size: 14px;
    height: 23px;
    margin: 0 0 15px;
    padding: 0 10px;
    width: 100%;
}

section.formulario form#login input[type="submit"] {
    float: right;
    height: 34px;
    width: 114px;
}

section.formulario form#login input[type="text"],
section.formulario form#login input[type="password"] {
    display: block;
    margin: 0 0 15px;
    width: 100%;
}

section.formulario .tipo-pessoa {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e3e6d5;
    margin: -10px 0 20px;
    padding: 15px;
}

section.formulario form#cadastro .tipo-pessoa label {
    margin: 0 15px 0 0;
}

section.formulario form#cadastro input[type="radio"] {
    margin: 0 5px 0 0;
}

section.formulario form#cadastro textarea {
    border: 1px solid #e3e6d5;
    height: 100px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}

.processo-compra-submit {
    background: none repeat scroll 0 0 #3e4e66;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    width: 100%;
}

.prosseguir {
    padding: 20px 30px;
}

.cartoes-compra {
    margin: 15px 0 0;
}

.lista-produtos, .listagem-valores {
    color: #79776b;
    font-size: 18px;
}

.listagem-valores li {
    list-style: none;
}

.login-cadastro h3 {
    margin: 0 0 10px !important;
    text-align: center;
}

form#login {
    background: none repeat scroll 0 0 #f1f2eb;
    overflow: hidden;
    padding: 20px 30px;
    width: 100%;
}

section.formulario form#cadastro input[type="submit"]:hover {
    background: #587092;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.contatos-duvidas {
    margin: 70px 0 0;
}

.contatos-duvidas > a {
    display: block;
    margin: 0 0 30px;
}

.observacao-importante {
    background: none repeat scroll 0 0 #fff;
    padding: 20px 30px;
}

section.cinza .observacao-importante h2 {
    color: #79776b;
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 15px;
}

.observacao-importante li {
    color: #79776b;
    font-size: 13px;
    line-height: 120%;
    margin: 0 0 5px;
}

.quero-me-cadastrar {
    margin: 50px 0 0;
}

@media all and (min-width: 992px) and (max-width: 1366px) {
    
    header .logos {
        margin: 20px 0 0;
    }

    header .logos img.windows-logo {
        margin: 30px 0 0 -145px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    header h1 {
        text-align: center;
    }

    section.conteudo {
        padding: 30px 0;
    }

    .documentacao-tecnica span {
        display: inline;
        font-size: 64px;
    }

    section.conteudo .documentacao-tecnica p {
        font-size: 15px;
    }

    .documentacao-tecnica {
        margin: 0 0 30px;
    }

    section.cinza h2.margin-maior {
        text-align: center;
    }
    
    a.compre {
        padding: 11px 20px !important;
    }

    img.cartoes {
        display: block;
        margin: 60px auto 0;
    }

    section.usuarios h2 {
        text-align: left;
    }
}

@media all and (max-width: 767px) {
    header h1 {
        font-size: 34px;
        margin: 20px 0 30px;
    }

    header .botoes-chamada {
        padding: 20px;
    }
    
    header .botoes-chamada a {
        margin: 0 0 10px;
        text-align: center;
    }

    header .botoes-chamada a img {
        display: none;
    }

    section.conteudo {
        padding: 30px 0;
    }

    section.cinza h2,
    section.verde h2,
    section.usuarios h2,
    section.cinza h2 span {
        font-size: 35px;
    }

    section.cinza h2 span {
        display: inline;
    }
    
    .documentacao-tecnica {
        margin: 0 0 30px;
    }

    section.cinza h2.margin-maior {
        margin: 0 0 20px;
    }

    .preco {
        margin: 0 0 30px;
        text-align: center;
    }

    section.usuarios h2 {
        text-align: left;
    }
}