/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999;}

#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0; display:none !important; }
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; background:#fff; padding: 10px; }
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{}
    #cboxTopRight{}
    #cboxBottomLeft{}
    #cboxBottomRight{}
    #cboxMiddleLeft{}
    #cboxMiddleRight{}
    #cboxTopCenter{}
    #cboxBottomCenter{}
	#cboxContent{}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{background:none;}

        #cboxTitle{background: none repeat scroll 0 0 #000000; bottom: 45px; color: #fff; left: 0;  margin: 0 10px; opacity: 0.75; padding: 10px; position: relative; text-align: center; }
        #cboxCurrent{position:absolute; top:-20px; right:0px; color:#ccc; display: none !important;}
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        #cboxPrevious{position:absolute; top:50%; left:10px; margin-top:-24px; background:url(images/prev.png) no-repeat top left; width:40px; height:40px; text-indent:-9999px;}
        #cboxNext{position:absolute; top:50%; right:10px; margin-top:-24px; background:url(images/next.png) no-repeat top right; width:40px; height:40px; text-indent:-9999px;}
        #cboxLoadingOverlay{background:#fff;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; top:-15px; right:-15px; display:block; background:url(images/fechar.png) no-repeat top center; width:32px; height:32px; text-indent:-9999px; z-index:9999; }