.menu .box-menu {
    /*top:52px;*/
}

.menu .softwares .box-menu {
    /*top:137px;*/
}

#forma-entrega .label-opcao { line-height:26px; }

.cadastro .usuario span {
    line-height:36px;
}

.contato .usuario span {
    line-height:36px;
}

#form-contato .fone {
    width:147px;
}