.btn{
    &.btn-primary{
        background-color: $green;
        color: $white;
        border-radius: 5px;
        height: 38px;
        line-height: 38px;
        padding: 0 15px;
        border-color: currentColor;

        @include transition(all .3s ease-in-out);

        &:hover{
            background-color: $teal - 15;
        }

        &.outline{
            background-color: transparent;
            color: $green;
            border-color: $green;

            &:hover{
                background-color: $white - 20
            }
        }

    }


    &.btn-danger{
        background-color: $orange;
        border-color: $orange;
        color: $white;
        font-size: 13px;
        padding: 0 20px;
        line-height: 40px;
        height: 40px;

        @include transition(all .3s ease-in-out);

        &:hover{
            background-color: $orange_light;
        }

        @media only screen and (min-width: 992px){
            font-size: 20px;
            height: 50px;
            line-height: 50px;
            padding: 0 55px;
        }
    }

    &.btn-small{
        height: 30px;
        line-height: 30px;
        padding: 0 20px;
        font-size: 13px;
    }


    &.btn-default{
        background-color: $teal;
        border-color: $teal;
        color: $white;
        font-size: 13px;
        height: auto;
        line-height: normal;
        padding: 20px;

        @include transition(all .3s ease-in-out);

        &:hover{
            background-color: $teal - 15;
            border-color: $teal;
            color: $white;
        }

        &.btn-invert{
            background-color: transparent;
            color: $teal;

            &:hover{
                background-color: rgba($teal, .75);
                border-color: rgba($teal, .75);
                color: $white;
            }
        }

        @media only screen and (min-width: 768px){
            font-size: 13px;
            text-align: center;
            padding: 0 20px;
            height: 40px;
            line-height: 40px;
        }

        @media only screen and (min-width: 992px){
            height: 46px;
            line-height: 46px;
            font-size: 16px;
        }
    }
}


.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: lighten($green, 10%);
    border-color: lighten($green, 10%);
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: darken($teal, 30%);
    background-color: lighten($teal, 10%);
    border-color: lighten($teal, 10%);
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: currentColor;
    background-color: transparent;
    border-color: lighten($green, 10%);
}
