
html,
body{
    position: relative;
    height: 100%;
    width: 100%;
}

body{
    font-family: $font;
}


.no-padding{
    padding-left: 15px;
    padding-right: 15px;
}

.no-padding-left{
    padding-left: 15px;
}

.no-padding-right{
    padding-right: 15px;
}


@media only screen and (min-width: 992px){
    .no-padding{
        padding-left: 0;
        padding-right: 0;
    }

    .no-padding-left{
        padding-left: 0;
    }

    .no-padding-right{
        padding-right: 0;
    }
}
