.form-control{
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    border-radius: 3px;
    margin-bottom: 25px;

    @include box-shadow-off;

    &:focus{
        @include box-shadow-off;

        border-color: $tomato;
    }

    &.error{
        border-color: $tomato;
        background-color: $tomato + 130;
    }
}


textarea{
    &.form-control{
        line-height: normal;
        padding: 15px;
        height: 84px;
        resize: none;
    }
}


.group{

    $form_validate_color: $teal;

    position: relative;
    margin-bottom: 20px;
    text-transform: uppercase;

    label {
        color: $white;
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        top: 0px;
        left: 0px;
        height: 45px;
        line-height: 45px;
        width: auto;
        background: $tomato;
        padding: 0 20px;
      @include transition(0.2s ease all);
    }

    input {
        color: $black;
        font-size: 15px;
        padding: 10px;
        display: block;
        outline: none;
        border: none;
        width: 100%;
        border: 1px solid $light_blue;
        background-color: $white;
        height: 45px;
        line-height: 45px;
        padding-left: 95px;
        border-radius: 3px;

        &:valid { border: 1px solid $form_validate_color; }

        &:focus ~ label,
        &.used ~ label {
            top: 0;
            font-size: 15px;
            color: $white;
        }
        &:valid ~ label,
        &:valid.used ~ label {
            background-color: $form_validate_color;
        }
    }

}


.alert{
    &.alert-danger{
        position: absolute;
        top: 100%;
        padding: 8px;
        border: 0;
        background-color: transparent;
        color: pink;

        button.close{
            text-shadow: none;
            background: pink;
            opacity: 1;
            filter: alpha(opacity=100);
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin-left: 8px;
            color: darkmagenta;
        }
    }
}
