.fd-modal-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: transparentize($black, .05);
    z-index: 4000;
    top: 0;
    display: none;

    &.open{
        display: block;
    }
}

.fd-modal{

    display: none;

    position: fixed;
    z-index: 4001;

    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;

    height: 350px;
    max-width: 500px;
    width: 100%;
    border-radius: 4px;

    background-color: $white;

    padding: 35px 25px;

    @media only screen and (min-width: 500px){
        left: 0;
        right: 0;
        top: 100px;
    }

    .title{
        font-size: 28px;
        margin: auto auto 20px;
    }
    .btn.btn-default {
        width: 144px;
        letter-spacing: 5px;
        text-transform: uppercase;
        border-radius: 12px;
    }

    &.open{
        display: block;

        top: 100px;
        opacity: 1;
    }

    .fd-modal-close{
        position: absolute;
        background-color: transparent;
        height: 50px;
        width: 50px;
        cursor: pointer;
        right: 0;


        @include flexbox;
        @include justify-content(center);
        @include align-items(center);


        img{
            transform: scale(1);
            @include transition(transform .15s ease-in-out);
        }

        @media only screen and (min-width: 600px){
            left: 100%;
            bottom: 100%;
        }


        &:hover{
            img{
                transform: scale(1.4);
            }
        }
    }
}
