.navbar-default{

    background-color: transparentize($white, .05);
    border-bottom: 2px solid darken($white, 15%);

    @media only screen and (min-width: 992px){
        background-color: transparent;
        border-bottom: none;
        height: 100px;

        &.affix{
            background-color: transparentize($white, .05);
            height: 70px;
            border-bottom: 2px solid darken($white, 15%);
        }


        .navbar-header{
            .navbar-brand{
                padding: 10px 15px;
            }
        }
    }

    .navbar-header{

        display: block;
        width: 100%;
        text-align: center;

        .navbar-brand{
            text-align: center;
            width: 100%;

            >img{
                display: inline-block;
            }
        }

        @media only screen and (min-width: 420px){
            width: auto;
            display: inline-block;
        }
    }

    .navbar-right{

        text-align: center;

        @media only screen and (min-width: 420px){
            display: inline-block;
            float: right;
            margin: 0;
        }
    }
}
