section.header{

    $header_height: 680px;
    $header_height_mobile: 80%;



    @include linearGradient($white, $light_blue);
    height: $header_height_mobile;
    position: relative;
    overflow: hidden;

    .header-content{
        @include flexbox;
        @include justify-content(center);
        @include align-items(flex-start);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: $header_height_mobile;
        z-index: 2;
        padding-top: 50px;

        .header-content-front{

        }

    }
    .center-canvas{
        position: absolute;
        bottom: 0;
        height: 100%;
        z-index: 1;
        width: 100%;

        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        canvas{
            width: 100%!important;
            height: auto!important;
        }
    }


    @media only screen and (min-width: 992px){
        height: $header_height;

        .header-content{
            height: $header_height;
        }

        #header-animate{
            height: $header_height;
        }
    }

    @media only screen and (min-width: 1500px){
        height: calc(#{$header_height} + 130px);

        .header-content{
            height: calc(#{$header_height} + 130px);
        }

        #header-animate{
            height: calc(#{$header_height} + 130px);
        }
    }
}


.center-flex{
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
}


section.basic-info{

    $height: 800px!important;


    background-image: url(../images/basic-info.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    height: auto;
    margin-top: 0;

    .owl-carousel{
        .item{
            padding-top: 50px;

            img{
                padding: 0 75px;
            }
        }

        .owl-controls{
            .owl-prev{
                position: absolute;
                background-color: transparent;
                transform: rotate(180deg);
                left: 0;
                top: 50px;
            }
            .owl-next{
                position: absolute;
                background-color: transparent;
                right: 0;
                top: 50px;
            }
        }
    }

    @media only screen and (min-width: 992px){
        height: $height;

        .center-flex{
            height: $height;
        }

        .owl-carousel{
            .item{
                padding-top: 0;

                figure{
                    @include flexbox;
                    @include justify-content(center);
                    @include align-items(flex-start);
                    padding: 30px 0 0;

                    height: $height / 2;

                    img{
                        padding: 0;
                    }
                }

                .btn{
                    &.btn-danger{
                        margin-top: 50px;
                    }
                }
            }

            .owl-controls{
                .owl-prev{
                    top: 140px;
                    left: -110px;
                }
                .owl-next{
                    top: 140px;
                    right: -110px
                }
            }
        }
    }
}

section.software-info{
    padding-bottom: 58px;
    padding-top: 70px;

    .item{
        width: 100%;
        float: none;
        display: inline-block;
        text-align: center;
        padding: 0 10px;


        figure{
            margin-bottom: 23px;
            height: 98px;

            img{

            }
        }
        p{
            font-size: 13px;
            font-family: $font;
            color: lighten($grey, 15%);
        }
    }

    h3{
        color: lighten($grey, 15%);
        font-size: 20px;
        max-width: 768px;
        width: 100%;
        margin: 70px auto 30px;
    }

    @media only screen and (min-width: 768px){
        .item{
            width: calc(100% / 2);
            float: left;
        }

        h3{
            font-size: 26px;
        }
    }

    @media only screen and (min-width: 992px){

        .item{
            width: calc(100% / 3);
        }
    }

    @media only screen and (min-width: 1200px){
        .item{
            width: calc(100% / 6);
        }
    }
}


section.cross-info{
    background-color: $very_light_blue;
    padding: 70px 0 55px;

    .col-xs-12{
        figure{
            padding-right: 0;
        }
    }

    h3{
        color: darken($white, 69%);
        font-family: $font_xs_condensed;
        margin-bottom: 25px;
        font-weight: 600;
    }
    p{
        color: darken($white, 69%);
        font-family: $font_xs_condensed;
        margin-bottom: 15px;
    }

    .btn{
        margin-top: 30px;
    }

    @media only screen and (min-width: 992px){
        padding: 170px 0 155px;

        .col-xs-12{
            figure{
                padding-right: 8%;
            }
        }

        h3{
            margin-bottom: 40px;
        }
        p{
            margin-bottom: 22px;
        }
        ul.list-inline{
            margin-bottom: 45px;
        }
        .btn{

        }

    }
}


.diet-win-online{
    background-image: url(../images/diet-win-online.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    position: relative;


    h3{
        font-size: 26px;
        font-weight: 300;
        letter-spacing: -1px;
        font-family: $font;
        margin: 0 0 20px;

        .text-danger{
            color: $tomato;
            font-size: 22px;
        }
    }

    p{
        font-size: 15px;
        color: $white;
        font-weight: 300;
        opacity: 0.8;
    }

    .btn.btn-default{
        width: 144px;
        letter-spacing: 5px;
        text-transform: uppercase;
        border-radius: 12px;
    }

    @media only screen and (min-width: 768px){
        padding-top: 95px;
        padding-bottom: 53px;

        h3{
            font-size: 30px;

            .text-danger{
                font-size: 26px;
            }
        }
    }

    @media only screen and (min-width: 992px){

        height: 460px!important;

        h3{
            font-size: 33px;
            margin-bottom: 35px;

            .text-danger{
                font-size: 30px;
            }
        }

        form{
            margin-left: 49px;
        }
    }
}


section.blog{
    background-color: $teal;
    min-height: 800px;
    padding: 70px 0 50px;

    .post{
        background-color: $white;
        position: relative;

        figure{
            overflow: hidden;

            @include flexbox;
            @include justify-content(center);
            @include align-items(center);
        }

        .post-date{
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            background-color: teal;
            color: white;
            @include flexbox;
            @include justify-content(center);
            @include align-items(center);

            span{
                font-size: 16px;
                line-height: 80%;
                text-align: center;

                small{
                    font-size: 13px;
                }
            }
        }

        .post-content{

            padding: 15px;
            margin-bottom: 35px;

            h4{
                a{
                    color: $teal;
                    font-size: 18px;
                    font-weight: 600;

                    &:hover{
                        text-decoration: none;
                        color: $tomato;

                        @include transition(all .3s ease);
                    }
                }
            }
            p{
                font-family: $font;
                a{
                    color: darken($white, 69%);
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 141%;

                    &:hover{
                        text-decoration: none;
                        color: darken($white, 80%);
                    }
                }
            }
        }

        .comments{
            h6{
                color: $green;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    .btn{
        &.btn-danger{
            margin-top: 35px;
        }
    }




    @media only screen and (min-width: 768px){
        padding-bottom: 70px;

        h3{
            font-size: 44px;
            letter-spacing: -1px;
            color: $white;
            text-align: center;
            font-weight: 300;
        }
    }

    @media only screen and (min-width: 992px){

        padding-bottom: 90px;

        h3{
            margin-bottom: 25px;
        }

        .post{
            figure{
                height: 228px;
                width: 100%;
                overflow: hidden;

                @include flexbox;
                @include justify-content(center);
                @include align-items(center);


                img{
                    width: 100%;

                    transform: scale(1);
                    @include transition(transform 15s ease-in-out);
                }

            }
            &:hover{
                figure{
                    img{
                        transform: scale(1.25);
                    }
                }
            }

            .post-date{
                height: 67px;
                width: 67px;

                span{
                    font-size: 20px;

                    small{
                        font-size: 16px;
                    }
                }
            }

            .post-content{
                padding: 25px;
                margin-bottom: 0;
            }
        }

        .btn{
            &.btn-danger{
                margin-top: 20px;
            }
        }
    }
}


section.table-prices{

    .flag{
        position: absolute;
        top: 0;
        left: 0;
        background-color: $tomato;
        color: $white;
        padding: 15px;
        font-size: 15px;
        width: 250px;
        z-index: 10;
        @include transform(
            rotate(-40deg) translate(-25%, -160%)
        )
    }

    padding-top: 80px;

    h2{
        font-size: 28px;
        margin: 0;
        margin-bottom: 70px;

        small{
            font-size: 22px;
        }
    }

    h4{
        font-size: 28px;
        color: $teal;
        position: relative;

        small{
            color: $teal;
            font-size: 70%;
            line-height: 1;
            font-weight: bold;
            display: block;
        }
    }

    .price{
        background-color: darken($white, 4%);
        position: relative;
        padding: 26px;
        height: 378px;
        border: 4px solid transparent;
        overflow: hidden;

        @include transition(all .15s ease-in-out .05s);

        &:nth-child(odd){
            &:hover{
                border-color: rgba($teal, .45);
            }
        }

        &.best{
            border: 4px solid $teal;
            @include box-shadow(0, 0, 50px, 0, rgba(darken($white, 100%), .45));
            z-index: 1;
            margin-top: 0;
            padding-top: calc(26px + 54px);
            height: auto;


            .new{
                position: absolute;
                top: 0;
                left: 0;
                height: 54px;
                width: 100%;
                background-color: $teal;
                z-index: 50;

                @include flexbox;
                @include justify-content(center);
                @include align-items(center);

                font-size: 22px;
                color: $white;

                @include transition(all .15s ease-in-out .05s);
            }

            &:hover{
                border-color: $teal - 15;

                .new{
                    background-color: $teal - 15;
                }
            }
        }

        ul{
            line-height: 200%;

            @media only screen and (min-width: 992px){
                line-height: 290%;
            }
        }
        ul, p{
            font-size: 16px;
            color: #939393;
            margin-top: 40px;

            big{
                font-size: 24px;
            }
        }

        .btn{
            position: relative;
            border-width: 3px;
        }
    }

    .suporte{
        margin-top: 134px;

        h3{
            color: darken($white, 68%);
            font-size: 36px;
            margin-top: 45px;
            margin-bottom: 60px;
        }
        p{
            font-size: 24px;
            font-family: $font;
            margin-bottom: 56px;

            big{
                font-size: 46px;
                line-height: 56px;
                font-family: $font_condensed;
                color: $green;
                font-weight: 400;
            }

            a{
                font-size: 24px;
                color: $tomato;
                font-weight: 400;

                &:hover{
                    color: darken($tomato, 10%);
                }
            }
        }
    }


    @media only screen and (min-width: 768px){
        padding-top: 118px;

        h2{
            font-size: 36px;
            margin: 0;
            margin-bottom: 110px;

            small{
                font-size: 30px;
            }
        }

        h4{
            font-size: 33px;
        }

        .price{
            &.best{
                margin-top: -54px;
                padding-top: calc(26px + 54px);
                height: calc(378px + 54px);
            }

            .btn{
                position: absolute;
                bottom: 26px;
                left: 20%;
                right: 20%;
                border-width: 3px;
            }
        }
    }
}


section.footer,
footer{
    background-color: $tomato;
    text-align: center;
    padding: 10px 0;
}

.aaa{
    line-height: 0;
    font-size: 0;
    height:0;
    position: absolute;
}
