h1{
    color: $green;
    font-size: 27px;
    font-family: $font_condensed;
    margin-top: 0;
    margin-bottom: 20px;

    small{
        color: inherit;
        font-weight: 200;
    }

    @media only screen and (min-width: 599px){
        margin-top: 20px;
    }

    @media only screen and (min-width: 992px){
        font-size: 47px;
        margin-bottom: 56px;
    }
}

h2{
    font-size: 25px;
    color: $grey;
    text-align: center;
    margin-bottom: 45px;

    small{
        font-size: 85%;
        color: inherit;
    }

    @media only screen and (min-width: 768px){
        font-size: 36px;
        margin-bottom: 80px;
    }
}

h3{
    color: $white;
    font-size: 27px;
    line-height: 100%;

    small{
        font-size: 70%;
        color: inherit;
    }

    @media only screen and (min-width: 992px){
        font-size: 47px;
    }
}


p{
    font-family: $font_condensed;
    font-size: 15px;
    line-height: 120%;
    font-weight: 200;

    &.white{
        color: $white;
    }
}
