

// FONTE PADRAO
$font: 'Fira Sans', sans-serif;
$font_condensed: 'Fira Sans Condensed', sans-serif;
$font_xs_condensed: 'Fira Sans Extra Condensed', sans-serif;


// CORES
$white: #FFFFFF;
$light_blue: #E5E5E5;
$green: #4B896B;
$orange: #D7614C;
$teal: #66B9B3;
$grey: #515050;
$very_light_blue: #EDF5F7;
$tomato: #EC755F;
$black: #303030;
$orange_light: #DC7361;
