/*
* PROJETO: TABELA NUTRICIONAL
* AUTOR: FATOR DIGITAL
*/

@import "_mixins";
@import "_vars";
@import "_defaults";
@import "_typography";

@import "_form";
@import "_navbar";
@import "_buttons";
@import "_page";
@import "_modal";




@keyframes ltr {
    0%{
        left: -25%;
    }
    100%{
        left: 100%;
    }
}
@keyframes ltr_991 {
    0%{
        left: -40%;
    }
    100%{
        left: 100%;
    }
}

header .center-canvas{top:0}
.center-canvas{
    figure.center{
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 9999;
        height: 350px;


        img{
            height: 400px;
        }
    }
}
.canvas-left{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 50%;
    overflow: hidden;
    z-index: 9990;

    .item{
        width: 25%;
        height: 150px;
        position: absolute;
        top: 0;
        left: -25%;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        &:nth-child(1){
            animation: ltr infinite 4s linear;
        }
        &:nth-child(2){
            animation: ltr infinite 4s linear .8s;
        }
        &:nth-child(3){
            animation: ltr infinite 4s linear 1.6s;
        }
        &:nth-child(4){
            animation: ltr infinite 4s linear 2.4s;
        }
        &:nth-child(5){
            animation: ltr infinite 4s linear 3.2s;
        }
    }

}
.canvas-right{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 50%;
    overflow: hidden;
    z-index: 9990;

    .item{
        width: 25%;
        height: 150px;
        position: absolute;
        top: 0;
        left: -25%;
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);

        &:nth-child(1){
            animation: ltr infinite 4s linear 3.2s;
        }
        &:nth-child(2){
            animation: ltr infinite 4s linear 4s;
        }
        &:nth-child(3){
            animation: ltr infinite 4s linear 4.8s;
        }
        &:nth-child(4){
            animation: ltr infinite 4s linear 5.6s;
        }
        &:nth-child(5){
            animation: ltr infinite 4s linear 6.4s;
        }
    }
}


@media only screen and (max-width: 991px){

    header .center-canvas{top:0}
    .center-canvas{
        figure.center{
            height: 350px;

            img{
                height: 350px;
            }
        }
    }
    .canvas-left{

        .item{
            width: 40%;
            left: -40%;

            img{
                height: 40%;
            }

            &:nth-child(1){
                animation: ltr_991 infinite 4s linear;
            }
            &:nth-child(2){
                animation: ltr_991 infinite 4s linear .8s;
            }
            &:nth-child(3){
                animation: ltr_991 infinite 4s linear 1.6s;
            }
            &:nth-child(4){
                animation: ltr_991 infinite 4s linear 2.4s;
            }
            &:nth-child(5){
                animation: ltr_991 infinite 4s linear 3.2s;
            }
        }

    }
    .canvas-right{

        .item{
            width: 40%;
            left: -40%;
            img{
                height: 70%;
            }

            &:nth-child(1){
                animation: ltr_991 infinite 4s linear 3.2s;
            }
            &:nth-child(2){
                animation: ltr_991 infinite 4s linear 4s;
            }
            &:nth-child(3){
                animation: ltr_991 infinite 4s linear 4.8s;
            }
            &:nth-child(4){
                animation: ltr_991 infinite 4s linear 5.6s;
            }
            &:nth-child(5){
                animation: ltr_991 infinite 4s linear 6.4s;
            }
        }
    }
}


@media only screen and (max-width: 768px){
    .center-canvas{
        figure.center{
            height: 350px;

            img{
                height: 350px;
            }
        }
    }
    .canvas-left,
    .canvas-right{
        height: 110px;
    }
    .canvas-left{

        .item{
            width: 40%;
            left: -40%;

            img{
                height: 40%;
            }
        }

    }
    .canvas-right{

        .item{
            width: 40%;
            left: -40%;
            img{
                height: 70%
            }
        }
    }
}

@media only screen and (max-width: 599px){
    .center-canvas{
        figure.center{
            height: 200px;

            img{
                height: 200px;
            }
        }
    }
    .canvas-left,
    .canvas-right{
        height: 110px;
    }
    .canvas-left{

        .item{
            width: 40%;
            left: -40%;

            img{
                height: 20%;
            }
        }

    }
    .canvas-right{

        .item{
            width: 40%;
            left: -40%;
            img{
                height: 40%;
            }
        }
    }
}
