<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body,td,th {
	color: #FFF;
}
body {
	background-color: #35706A;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>

<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#35706A">
  <tr>
    <td align="center" valign="top"><img src="news-webinar.jpg" alt="Webinar Grátis - DietWin" width="650" height="1100" usemap="#Map" border="0"></td>
  </tr>
</table>

<map name="Map">
  <area shape="rect" coords="36,917,281,1057" href="http://www.dietwin.com.br/download/Apresentacao-TeamViewer.pdf" target="_blank">
  <area shape="rect" coords="304,910,613,1059" href="http://www.dietwin.com.br/novidade/treinamento-online" target="_blank">
</map>
</body>
</html>
