<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body {
	background-color: #36706B;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>

<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#36706B">
  <tr>
    <td align="center" valign="top"><a href="http://www.dietwin.com.br/?utm_source=newsletter-ipgs&utm_medium=email&utm_campaign=desconto-ipgs"><img src="http://www.dietwin.com.br/news/ipgs/news-desconto.jpg" width="650" height="1057" alt="Os melhores softwares de nutrição do Brasil, com um desconto exclusivo."></a></td>
  </tr>
</table>
</body>
</html>
