
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #0D541E;
}
</style>
</head>

<body>
<table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top"><img src="dietwin-news-2014.jpg" width="650" height="942" usemap="#Map" border="0"></td>
  </tr>
</table>

<map name="Map">
  <area shape="rect" coords="308,607,468,690" href="https://www.facebook.com/dietwin.softwares" target="_blank">
  <area shape="rect" coords="466,606,629,688" href="http://www.dietwin.com.br" target="_blank">
  <area shape="rect" coords="21,717,632,919" href="http://www.dietwin.com.br" target="_blank">
</map>
</body>
</html>
